{{block "index" .}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
</html>
    <body>
        <header>
            <h1>Welcome to the Index Page</h1>
        </header>
        <main>
            <p>This is the main content of the index page.</p>
            {{ template "userform" . }}
            <hr>
            <div id="contacts">
                {{ template "display" . }}
            </div>
            <div id = "count">
                {{ template "increment" . }}
            </div>
            <p>Current Date: {{.CurrentDate}}</p>
            <p>Current Time: {{.CurrentTime}}</p>
        </main>
        <footer>
            <p>&copy; 2025 My Website</p>
        </footer>
    </body>
</html>
{{end}}

{{ define "increment" }}
        Count: <span id="count-value">{{.Count}}</span>
        <button hx-post="/increment" hx-target="#count-value" hx-swap="innerHTML">Increment</button>
{{ end }}

{{ define "userform }}
        <form id="user-form" hx-post="/contacts" hx-target="#response" hx-swap="innerHTML">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Submit</button>
        </form>
        <div id="response"></div>
{{ end }}

{{ define "display" }}
        <div style="display: flex; flex-direction: column;">
            {{ range .Contacts }}
                <p>Name: {{.Name}}</p>
                <p>Email: {{.Email}}</p>
            {{ end }}
        </div>>
{{ end }}